<launch>
    <arg name="fixed_frame_id" default="world"/>
    <node pkg="nodelet" type="nodelet" name="vio" args='standalone hyvio/Ros1Nodelet'
    output="screen">
        <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/>
        <param name="child_frame_id" value="odom"/>
        <remap from="~imu" to="/imu0"/>
        <remap from="~cam0_image" to="/cam0/image_raw"/>
        <param name="config_file" value="$(find hyvio)/config/euroc.yaml"/>
    </node>

    <node name="visualization" pkg="rviz" type="rviz" output="log" args="-d $(find hyvio)/rviz/vio_ros1.rviz" />

</launch>
